#DivIdCode{
    width: 100%;
}

#DivIdCodeTitle{
    font-size: 40px;
    height: 45px;
    text-align: center;
    opacity: 0.5;
}

#DivIdCodeTitleText{
    height: 40px;
    width: 100%;
    font-size: 40px;
}

#DivIdTableCodeWrap{
    width: 100%;
}

#TableIdCode{
    height: 100%;
    width: 100%;
}

#TrIdCode{
    width: 100%;
}

#TrIdCode:hover, #TrIdCode:active, #TrIdCode:focus{
    background-color: deepskyblue;
}

#TdIdColumnLine{
    vertical-align: bottom;
    text-align: right;

    opacity: 0.5;

    height: 100%;
    min-width: 45px;
    width: 45px;
    max-width: 90px;
}

#TdIdColumnCode{
    vertical-align: bottom;

    height: 100%;
    width: auto;
}

#DivTextAreaIdColumnCode, #DivTextAreaIdColumnCode:hover, #DivTextAreaIdColumnCode:active, #DivTextAreaIdColumnCode:focus{
    vertical-align: bottom;

    width: 100%;
    height: 100%;
    font-family: "Arial", Arial, Sans-serif;
    font-size: 19px;
    padding: 5px;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}