#DivIdCodeTitle{
    font-size: 40px;
    height: 45px;
    width: 100%;
    text-align: center;
    opacity: 0.5;
}

#DivIdCodeTitleText{
    height: 40px;
}

#DivIdTableCode{
    height: auto;
    width: 100%;
}

#DivIdColumnLine{
    text-align: right;
    opacity: 0.5;
    float: left;
    height: auto;
    width: 45px;
}

#DivIdColumnCode{
    font-family: "Arial", Arial, Sans-serif;
    font-size: 19px;
    padding: 5px;
    float: left;
    height: auto;
    width: auto;
}