/*@font-face {
    font-family: 'chunk-webfont';
    src: url('../../includes/fonts/chunk-webfont.eot');
    src: url('../../includes/fonts/chunk-webfont.eot?#iefix') format('eot'),
        url('../../includes/fonts/chunk-webfont.woff') format('woff'),
        url('../../includes/fonts/chunk-webfont.ttf') format('truetype'),
        url('../../includes/fonts/chunk-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


@font-face {
    font-family: "FontIcon";
    src: url("../../../../../../Fonts/BlueLionIcons.otf");
    src: url("../../../../../../Fonts/BlueLionIcons.woff") format('woff');
    /*src: url("../../../../../../Fonts/BlueLionIcons.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia";
    src: url("../../../../../../Fonts/Socialico.otf");
    /*src: url("../../../../../../Fonts/Socialico.woff") format('woff');
    src: url("../../../../../../Fonts/Socialico.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia2";
    src: url("../../../../../../Fonts/SocialicoPlus.otf");
    /*src: url("../../../../../../Fonts/SocialicoPlus.woff") format('woff');
    src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia3";
    src: url("../../../../../../Fonts/MonoSocialIconsFont-1.10.otf");
    src: url("../../../../../../Fonts/MonoSocialIconsFont-1.10.woff") format('woff');
    /*src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontIconSocialMedia4";
    src: url("../../../../../../Fonts/pictonic.ttf");
    src: url("../../../../../../Fonts/pictonic.woff") format('woff');
    /*src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../../../../../../Fonts/fontawesome-webfont.ttf");
    src: url("../../../../../../Fonts/fontawesome-webfont.woff") format('woff');
    /*src: url("../../../../../../Fonts/SocialicoPlus.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontFuturisticI";
    src: url("../../../../../../Fonts/FuturisticFontI.otf");
    src: url("../../../../../../Fonts/FuturisticFontI.woff") format('woff');
    /*src: url("../../../../../../Fonts/FuturisticFontI.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontFuturisticII";
    src: url("../../../../../../Fonts/FuturisticFontII.otf");
    src: url("../../../../../../Fonts/FuturisticFontII.woff") format('woff');
    /*src: url("../../../../../../Fonts/FuturisticFontII.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CarDealershipsI";
    src: url("../../../../../../Fonts/CarDealershipsI.otf");
    src: url("../../../../../../Fonts/CarDealershipsI.woff") format('woff');
    /*src: url("../../../../../../Fonts/CarDealershipsI.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../../../../../../Fonts/OpenSans-Light.ttf")  format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

#basicScroll {
    /* Typical fixed height and fixed width example */
    height: 100%;
    width: 100%;
    overflow: auto;
    /* IE overflow fix, position must be relative or absolute*/
    position: relative;
}

.flexcroll {
    height: 100%;
}

.scrollgeneric {
    line-height: 1px;
    font-size: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.vscrollerbar {
    width: 10px;
}
.hscrollerbar {
    height: 10px;
}

.vscrollerbase {
    width: 12px;
}
.hscrollerbase {
    height: 12px;
}

.hscrollerbar, .vscrollerbar {
    vertical-align: middle;
    horizontal-align: middle;
    margin: 1px;
    background-color: grey;
    /*-moz-border-radius: <?php echo $scrollerbar_radius;?>px;
    border-radius: <?php echo $scrollerbar_radius;?>px;*/
}

.hscrollerbase, .vscrollerbase, .hscrollerbase:hover, .vscrollerbase:hover, .hscrollerbase:active, .vscrollerbase:active {
    background-color: black;
}

.hscrollerbar:active, .vscrollerbar:active,.hscrollerbar:hover, .vscrollerbar:hover {
    background-color: white;
}

.hscrollerbase:hover, .vscrollerbase:hover {
    opacity: 0.5;
}

input{
    border: none;
    outline: none;
    text-decoration: none;
}


input[type='range'] {
    -webkit-appearance: none;
    background-color: grey;
    border: 1px white;
    opacity: 0.7;
    height: 10px;
    vertical-align: middle;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']:hover {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-track {
    -moz-appearance: none;
    background-color: grey;
    border: 1px white;
    opacity: 0.5;
    height: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-track:hover {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: white;
    border: 1px grey;
    height: 20px;
    width: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-webkit-slider-thumb:hover {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    background-color: white;
    border: 1px grey;
    height: 20px;
    width: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-thumb:hover {
    -moz-appearance: none;
    background-color: white;
    border: 1px grey;
    height: 20px;
    width: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

button, button:active, button:after, button:before {
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

#DivIdBlueCircle, #DivIdBlackCircle, #DivIdRedCircle{
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
}

#DivIdBlackCircle{
    background: black;
}

#DivIdBlueCircle{
    background: dodgerblue;
}

#DivIdRedCircle{
    background: red;
}

#DivIdRedCircle:hover, #DivIdBlueCircle:hover{
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#DivIdCircleText{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#DivIdText2{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontFuturisticII";
    padding: 5px;
    font-size: 20px;
}

#DivIdHalf{
    opacity: 0.5;
}

#DivIdSomeOpacity{
    opacity: 0.75;
}

#DivIdTextBasic, #DivIdTextBasic:hover, #DivIdTextBasic:active, #DivIdTextBasic:focus{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-family: "OpenSans-Light";
    font-weight: 900;
    padding: 5px;
    font-size: 20px;
}

#DivIdText{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-family: "FontFuturisticI";
    padding: 5px;
    font-size: 20px;
}

#DivIdText:hover{
    font-family: "FontFuturisticII";
    /*-webkit-animation: fontFuturisticPulse 1.0s linear;
    -moz-animation: fontFuturisticPulse 1.0s linear;
    -ms-animation: fontFuturisticPulse 1.0s linear;
    -o-animation: fontFuturisticPulse 1.0s linear;
    animation: fontFuturisticPulse 1.0s linear;*/
}

#DivIdFontBig{
    font-size: 100px;
}

#DivIdFontBig2{
    font-size: 500px;
}

#DivIdHandIconOn, #DivIdHandIcon:hover #DivIdHandIconOff, #DivIdHandIcon #DivIdHandIconOn{
    visibility: hidden;
    height: 0px;
    width: 0px;
    float: left;
}

#DivIdHandIconOff, #DivIdHandIcon:hover #DivIdHandIconOn, #DivIdHandIcon #DivIdHandIconOff{
    visibility: visible;
    height: 100%;
    width: auto;
    float: left;
}

#DivIdConsoleIcon:hover #DivIdConsoleIconOn{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: consoleOn 1s;
    -moz-animation: consoleOn 1s;
    -ms-animation: consoleOn 1s;
    -o-animation: consoleOn 1s;
    animation: consoleOn 1s;

    -webkit-animation-timing-function: steps(2, end);
    -moz-animation-timing-function: steps(2, end);
    -ms-animation-timing-function: steps(2, end);
    -o-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);

    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -ms-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

#DivIdConsoleIcon:hover #DivIdConsoleIconOn1{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: consoleOn 1s infinite;
    -moz-animation: consoleOn 1s infinite;
    -ms-animation: consoleOn 1s infinite;
    -o-animation: consoleOn 1s infinite;
    animation: consoleOn 1s infinite;

    -webkit-animation-timing-function: steps(2, end);
    -moz-animation-timing-function: steps(2, end);
    -ms-animation-timing-function: steps(2, end);
    -o-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);
}

#DivIdConsoleIcon:hover #DivIdConsoleIconOn2{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: consoleOn 1s infinite;
    -moz-animation: consoleOn 1s infinite;
    -ms-animation: consoleOn 1s infinite;
    -o-animation: consoleOn 1s infinite;
    animation: consoleOn 1s infinite;

    -webkit-animation-timing-function: steps(2, end);
    -moz-animation-timing-function: steps(2, end);
    -ms-animation-timing-function: steps(2, end);
    -o-animation-timing-function: steps(2, end);
    animation-timing-function: steps(2, end);

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;

}

#DivIdConsoleIconOff, #DivIdConsoleIcon #DivIdConsoleIconOff{
    visibility: visible;
    height: 100%;
    width: auto;
}

#DivIdConsoleIconOn, #DivIdConsoleIconOn1, #DivIdConsoleIconOn2, #DivIdConsoleIcon:hover #DivIdConsoleIconOff{
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#DivIdWebIcon:hover #DivIdWebIconOn1{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

    -webkit-animation-delay: -1.5s;
    -moz-animation-delay: -1.5s;
    -ms-animation-delay: -1.5s;
    -o-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

#DivIdWebIcon:hover #DivIdWebIconOn2{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -ms-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
}

#DivIdWebIcon:hover #DivIdWebIconOn3{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

    -webkit-animation-delay: -0.5s;
    -moz-animation-delay: -0.5s;
    -ms-animation-delay: -0.5s;
    -o-animation-delay: -0.5s;
    animation-delay: -0.5s;

}

#DivIdWebIcon:hover #DivIdWebIconOn4{
    visibility: hidden;
    height: 0px;
    width: 0px;

    -webkit-animation: webOn 2s infinite;
    -moz-animation: webOn 2s infinite;
    -ms-animation: webOn 2s infinite;
    -o-animation: webOn 2s infinite;
    animation: webOn 2s infinite;

    -webkit-animation-timing-function: steps(4, start);
    -moz-animation-timing-function: steps(4, start);
    -ms-animation-timing-function: steps(4, start);
    -o-animation-timing-function: steps(4, start);
    animation-timing-function: steps(4, start);

}

#DivIdWebIconOff, #DivIdWebIcon #DivIdWebIconOff{
    visibility: visible;
    height: 100%;
    width: auto;
}

#DivIdWebIconOn1, #DivIdWebIconOn2, #DivIdWebIconOn3, #DivIdWebIconOn4, #DivIdWebIcon:hover #DivIdWebIconOff{
    visibility: hidden;
    height: 0px;
    width: 0px;
}


#DivIdHeaderSpace{
    height: 45px;
    width: 100%;
}

#DivIdProgressBarHolder{
    height: 0px;
    width: 100%;
}

#DivIdProgressBar{
    width: 0%;
    height: 100%;
    background-color: #ffffff;
}

#DivIdIconSocialMedia{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontIconSocialMedia";
    padding: 5px;
    font-size: 40px;
}

#DivIdIconSocialMedia2{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontIconSocialMedia2";
    padding: 5px;
    font-size: 40px;
}

#DivIdIconSocialMedia3{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontIconSocialMedia3";
    padding: 5px;
    font-size: 40px;
}

#DivIdIconSocialMedia4{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontIconSocialMedia4";
    padding: 5px;
    font-size: 28px;
}

#DivIdIconAwesome{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontAwesome";
    padding: 5px;
    font-size: 28px;
}

#DivIdFont35px{
    font-size: 35px;
}

#DivIdDefaultCursor{
    cursor: default;
}

#DivIdPointerCursor{
    cursor: pointer;
}

#DivIdBasicIcon{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    font-family: "FontIcon";
    padding: 5px;
    font-size: 40px;
}

#DivIdIcon{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontIcon";
    padding: 5px;
    font-size: 40px;
}

#DivIdCarDealershipI{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "CarDealershipsI";
    padding: 5px;
    font-size: 40px;
}

#DivIdGlass{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid;
    /*opacity: 0.5;*/
    border-color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 5px rgba(0, 0, 0, 1);
}

#DivIdPulse:hover, ul li:hover #DivIdNeon #DivIdMenuItem #DivIdPulse{
    -webkit-animation: pulse 1.5s linear infinite;
    -moz-animation: pulse 1.5s linear infinite;
    -ms-animation: pulse 1.5s linear infinite;
    -o-animation: pulse 1.5s linear infinite;
    animation: pulse 1.5s linear infinite;
}

#DivIdShake:hover, ul li:hover #DivIdNeon #DivIdMenuItem #DivIdShake{
    -webkit-animation: shake 0.7s linear infinite;
    -moz-animation: shake 0.7s linear infinite;
    -ms-animation: shake 0.7s linear infinite;
    -o-animation: shake 0.7s linear infinite;
    animation: shake 0.7s linear infinite;
}

#DivIdSpin:hover, ul li:hover #DivIdNeon #DivIdMenuItem #DivIdSpin{
    -webkit-animation: spin 2.5s linear infinite;
    -moz-animation: spin 2.5s linear infinite;
    -ms-animation: spin 2.5s linear infinite;
    -o-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

#DivIdSpin2:hover, ul li:hover #DivIdNeon #DivIdMenuItem #DivIdSpin2{
    -webkit-animation: spin2 2.5s linear infinite;
    -moz-animation: spin2 2.5s linear infinite;
    -ms-animation: spin2 2.5s linear infinite;
    -o-animation: spin2 2.5s linear infinite;
    animation: spin2 2.5s linear infinite;
}

a{
    text-decoration: none;
}

a, #DivIdNeon{
    color: black;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

a:hover, #DivIdNeon:hover, ul li:hover #DivIdNeon #DivIdMenuItem{
    color: deepskyblue;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

ul{
    width: 100%;
    height: 100%;
    position: relative;
}

ul li{
    float: left;
    display: block;
    position: relative;
}

ul ul{
    display: none;
    opacity:0;
    position: absolute;
    width: 160px;
    height: auto;
}

ul li:hover ul{
    opacity:1;
    display: block;
    position: absolute;
}

ul li ul li {
    width: 130px;
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -o-transform: scale(1);
        opacity: 1;
    }
    100% {
        -o-transform: scale(0.9);
        opacity: 0.7;
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -ms-transform: scale(1);
        opacity: 1;
    }
    100% {
        -ms-transform: scale(0.9);
        opacity: 0.7;
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -moz-transform: scale(1);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-o-keyframes spin { 100% { -o-transform: rotate(360deg); } }

@-ms-keyframes spin { 100% { -ms-transform: rotate(360deg); } }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@-o-keyframes spin2 { 100% { -o-transform: rotate(-360deg); } }

@-ms-keyframes spin2 { 100% { -ms-transform: rotate(-360deg); } }

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); } }

@keyframes spin2 { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-o-keyframes shake {
    0% { -o-transform: rotate(0deg); }
    10% { -o-transform: rotate(-10deg); }
    20% { -o-transform: rotate(5deg); }
    30% { -o-transform: rotate(-5deg); }
    40% { -o-transform: rotate(5deg); }
    60% { -o-transform: rotate(-5deg); }
    70% { -o-transform: rotate(5deg); }
    80% { -o-transform: rotate(-5deg); }
    90% { -o-transform: rotate(10deg); }
    100% { -o-transform: rotate(0deg); }
}

@-ms-keyframes shake {
    0% { -ms-transform: rotate(0deg); }
    10% { -ms-transform: rotate(-10deg); }
    20% { -ms-transform: rotate(5deg); }
    30% { -ms-transform: rotate(-5deg); }
    40% { -ms-transform: rotate(5deg); }
    60% { -ms-transform: rotate(-5deg); }
    70% { -ms-transform: rotate(5deg); }
    80% { -ms-transform: rotate(-5deg); }
    90% { -ms-transform: rotate(10deg); }
    100% { -ms-transform: rotate(0deg); }
}

@-moz-keyframes shake {
    0% { -moz-transform: rotate(0deg); }
    10% { -moz-transform: rotate(-10deg); }
    20% { -moz-transform: rotate(5deg); }
    30% { -moz-transform: rotate(-5deg); }
    40% { -moz-transform: rotate(5deg); }
    60% { -moz-transform: rotate(-5deg); }
    70% { -moz-transform: rotate(5deg); }
    80% { -moz-transform: rotate(-5deg); }
    90% { -moz-transform: rotate(10deg); }
    100% { -moz-transform: rotate(0deg); }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); }
    10% { -webkit-transform: rotate(-10deg); }
    20% { -webkit-transform: rotate(5deg); }
    30% { -webkit-transform: rotate(-5deg); }
    40% { -webkit-transform: rotate(5deg); }
    60% { -webkit-transform: rotate(-5deg); }
    70% { -webkit-transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    90% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes shake {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    10% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
    20% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    30% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    40% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    60% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    70% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    90% { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

@-o-keyframes consoleOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@-ms-keyframes consoleOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@-moz-keyframes consoleOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@-webkit-keyframes consoleOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@keyframes consoleOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@-o-keyframes webOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    75% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@-ms-keyframes webOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    75% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@-moz-keyframes webOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    75% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@-webkit-keyframes webOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    75% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

@keyframes webOn {
    0% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    75% {
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    100% {
        visibility: visible;
        height: 100%;
        width: auto;
    }
}

/*
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@-moz-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@-ms-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@-o-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 1px lightgrey,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px lightgrey,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}*/

@-o-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-ms-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-moz-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-webkit-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

input[type=checkbox] {
    visibility: hidden;
    top: 0;
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
}

.squaredOne {
    top: 0;
    padding: 0;
    width: 25px;
    margin: 0;
    position: relative;
}

.squaredOne label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    -ms-box-sizing: border-box;    /* Firefox, other Gecko */
    -o-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    border: 1px solid black;
}

.squaredOne label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 3px solid black;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredOne label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.squaredOne input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    border: 3px solid deepskyblue;
    border-top: none;
    border-right: none;
}

select {
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;

    padding:5px;
    margin: 0;
    color:black;
    border:black solid 1px;
    border-radius: 0px;
    background-color: transparent;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

select:hover{
    background-color: deepskyblue;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

/*input{*/
    /*float: left;*/
    /*font-size: 20px;*/
    /*width: 100%;*/
    /*border-bottom: 2px solid black;*/
    /*background-color: transparent;*/
/*}*/

label {position:relative}

label:after {
    content:'>';
    font:23px "Consolas", monospace;
    color:black;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px;
    /*top:1px;*/
    position:absolute;
    pointer-events:none;
}

label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}

.TextAreaClassLined{
    padding-left: 5px;
    margin: 0px;
    width: 100%;
    min-height: 500px;
    height: 100%;
}

.DivClassLinedWrap {
    border: 1px solid dodgerblue;
    /*padding: 3px;*/
}

.DivClassLinedTextArea textarea, .DivClassLinedWrap .DivClassCodeLines .DivClassLineNumber {
    font-size: 10pt;
    font-family: monospace;
    line-height: normal !important;
}

.DivClassLinedTextArea textarea {
    padding-top:0.3em;
    border: 0;
}

.DivClassLinedWrap .DivClassLines {
    margin-top: 0px;
    width: 50px;
    float: left;
    overflow: hidden;
}

.DivClassLinedWrap .DivClassCodeLines {
    padding-top: 5px;
}

.DivClassLinedWrap .DivClassCodeLines .DivClassLineNumber {
    color: #777777;
    padding-right: 0.5em;
    padding-top: 0.0em;
    text-align: right;
    white-space: nowrap;
}

.DivClassLinedWrap .DivClassCodeLines .ClassLineSelect {
    background-color: dodgerblue;
}

#DivIdEditorHolder{
    /*margin-left: -10px;*/
}

#DivIdButtonSendHolder{
    width: 100%;
    height: 45px;
    /* position: absolute; */
    /* bottom: 0px; */
    padding-top: 16px;
}

#DivIdBasicButtonHolder{
    /*height: 45px;*/
}